<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Destinos</title>
</head>

<body>
    <header class="header1234">

        <nav class="nav1234">
            <ul>
                <li><a href="../index.html" class="nav-link">Inicio</a></li>
                <li><a href="./contacto.html" class="nav-link">Contacto</a></li>
                <li><a href="./productos.html" class="nav-link"
                        style="background-color:#8cce2f; border-radius: 8px;">Productos</a></li>
                <li><a href="./presupuesto.html" class="nav-link">Presupuesto</a></li>
            </ul>
        </nav>
        <div class="logo1234">
            <img src="../assets/images/airplane-svgrepo-com.svg" alt="Logo Agencia de Viajes">
        </div>
    </header>
    <main><br><br><br><br>
        <h2>ENCUENTRA TU PROXIMO DESTINO</h2>
        <p class="txt-galery">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi a architecto, fugit
            quibusdam delectus earum
            totam accusantium corporis, sed similique voluptatibus amet in. Ut omnis minus quae, expedita vitae
            accusantium!</p>

        <P class="txt-galery"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi a architecto, fugit
            quibusdam delectus earum
            totam accusantium corporis, sed similique voluptatibus amet in. Ut omnis minus quae, expedita vitae
            accusantium!</P>

        <div class="container">
            <div class="image-container" id="gallery"></div>
        </div><br><br>
        <h3>ENCUENTRA TU PROXIMO DESTINO</h3><br><br>
        <P class="txt-galery">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi a architecto, fugit
            quibusdam delectus earum
            totam accusantium corporis, sed similique voluptatibus amet in. Ut omnis minus quae, expedita vitae
            accusantium!</P>

        <P class="txt-galery">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi a architecto, fugit
            quibusdam delectus earum
            totam accusantium corporis, sed similique voluptatibus amet in. Ut omnis minus quae, expedita vitae
            accusantium!</P>

        <div class="container2">
            <div class="image-container2" id="gallery2"></div>
        </div>


    </main>



    <!-- Footer -->
    <footer>
        <!-- Contenedor de los logos -->
        <div class="footer-logos">
            <!-- Cada logo es un enlace hacia otra página -->
            <a href="https://www.youtube.com/" target="_blank" title="Enlace a link de youtube">
                <img src="../assets/images/youtubeicon.svg" alt="Logo de youtube">
            </a>
            <a href="https://www.google.com/intl/es/account/about/" target="_blank" title="Enlace a link de gmail">
                <img src="../assets/images/official-gmail-icon-2020.svg" alt="Logo de gmail">
            </a>
            <a href="https://www.instagram.com/accounts/emailsignup/?next=https%3A%2F%2Fwww.instagram.com%2F&hl=es-es"
                target="_blank" title="Enlace a link de instagram">
                <img src="../assets/images/instagram-logo-icone4.png" alt="Logo de instagram">
            </a>
            <a href="https://www.facebook.com/?locale=es_ES" target="_blank" title="Enlace a facebook">
                <img src="../assets/images/124010.png" alt="Logo de facebook ">
            </a>
        </div>

        <!-- Texto de derechos reservados -->
        <p class="footer-text">Derechos reservados Cristhian Sena</p>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    <script src="../scripts/galeria.js"></script>
</body>

</html>